@model ProfileEditorModel
@{
	ViewBag.Title = "Profile Editor";
}
	<div>
		<form asp-action="ProfileView" method="get" asp-route-returnUrl="@ViewData["ReturnUrl"]">
			<div asp-validation-summary="All" class="text-danger"></div>
		
			@if (!string.IsNullOrEmpty(Model.ProfilePicturePath))
		{
			<div>
				<img src="@Url.content(Model.ProfilePicturePath)" alt="Profile Picture" />
			</div>
		}
		else
		{
			<img src="~/images/DefaultProfilePicture.jpg" />
		}

		 <div> 
		 	<label for="ProfileImage">Upload Profile Image</label> 
		 	<input type="file" name="ProfileImage" id="ProfileImage" /> 
		 </div> 
		 <div> 
		 	<input type="submit" value="Upload Image" /> 
		 </div> 

			<div>
				<label asp-for="FirstName" class="control-label"> First Name</label>
				<input asp-for="FirstName" class="form-control" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>

			<div>
				<label asp-for="LastName" class="control-label"> Last Name </label>
				<input asp-for="LastName" class="form-control" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
			<div>
				<label asp-for="Address" class="control-label">Address</label>
				<input asp-for="Address" class="form-control" />
				<span asp-validation-for="Address" class="text-danger"></span>
			</div>
			<div>
				<label asp-for="City" class="control-label">City</label>
				<input asp-for="City" class="form-control" />
				<span asp-validation-for="City" class="text-danger"></span>
			</div>

			<div>
				<label asp-for="Province" class="control-label">Province</label>
				<input asp-for="Province" class="form-control" />
				<span asp-validation-for="Province" class="text-danger"></span>
			</div>
			<div>
				<label asp-for="Postal" class="control-label">Postal Code</label>
				<input asp-for="Postal" class="form-control" />
				<span asp-validation-for="Postal" class="text-danger"></span>
			</div>

			<div>
				<label asp-for="Country" class="control-label">Country</label>
				<input asp-for="Country" class="form-control" />
				<span asp-validation-for="Country" class="text-danger"></span>
			</div>

			<div>
				<label asp-for="HomePhone" class="control-label">Home Phone Number</label>
				<input asp-for="HomePhone" class="form-control" />
				<span asp-validation-for="HomePhone" class="text-danger"></span>
			</div>

			<div>
				<label asp-for="BusPhone" class="control-label">Business Phone Number</label>
				<input asp-for="BusPhone" class="form-control" />
				<span asp-validation-for="BusPhone" class="text-danger"></span>
			</div>

			<div>
				<label asp-for="Email" class="control-label">Email</label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>

			<div>
				<label asp-for="Password" class="control-label">Password</label>
				<input asp-for="Password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>

			<div>
				<label asp-for="PasswordConfirmation" class="control-label">Confirm Password</label>
				<input asp-for="PasswordConfirmation" class="form-control" />
				<span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
			</div>

			<div>
				<input type="submit" value="Finish Editing" class="btn btn-primary"/>
				<input type="reset" value="Reset" class="btn btn-secondary" />
			</div>
		</form>
	</div>
