
@model TravelExpertsData.Models.Booking

<h1>Thank You for Your Booking!</h1>
<p>Booking Number: @Model.BookingNo</p>
<p>Package: @Model.Package.PkgName</p>
<p>Total Paid: @Model.TotalPaid.ToString("C")</p>
<p>Your trip details have been emailed to you.</p>
